/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom left, black, dimgray);
    background-repeat: no-repeat;
}

img {
    display: block;
    max-width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
